<div class="app-page">
  <div class="app-page__header">
    <h1>{{title}}</h1>
  </div>

  <div class="app-page__content">
    <app-stepper *ngIf="dictionariesIsReady$ | async">
      <ng-container [ngSwitch]="stepper?.activeStep?.key">
        <app-professional *ngSwitchCase="'professional'"
                          [value]="professional$ | async"
                          [dictionaries]="dictionaries$ | async"
                          (changed)="onChangedProfessional($event)"></app-professional>
        <app-personal *ngSwitchCase="'personal'"
                      [value]="personal$ | async"
                      [dictionaries]="dictionaries$ | async"
                      (changed)="onChangedPersonal($event)"></app-personal>
      </ng-container>
    </app-stepper>
  </div>

  <app-spinner *ngIf="loading$ | async"></app-spinner>
</div>
