<div class="header">
  <div class="header__title">CourseApp</div>
    <div class="header__navigation">
      <a [routerLink]="['demo']" routerLinkActive="app-a_active" class="app-a">Demo</a>

      <div *ngIf="!isAuthorized">
        <a [routerLink]="['auth/login']" routerLinkActive="app-a_active" class="app-a">Sign In</a>
        <a [routerLink]="['auth/registration']" routerLinkActive="app-a_active" class="app-a">Sign Up</a>
      </div>

      <div *ngIf="isAuthorized">
        <a [routerLink]="['jobs']" class="app-a">Jobs</a>
        <a [routerLink]="['employees']" class="app-a">Employees</a>
        <a (click)="onProfileNavigate()" class="app-a">Profile</a>
        <a (click)="onSignOut()" class="app-a">Sign Out</a>
      </div>
  </div>
</div>
