<div class="header">
  <div class="header__title">CourseApp</div>
    <div class="header__navigation">
      <a [routerLink]="['demo']" routerLinkActive="app-a_active" class="app-a">Demo</a>

      <div *ngIf="!isAuthorizedProps">
        <a [routerLink]="['auth/login']" routerLinkActive="app-a_active" class="app-a">Sign In</a>
        <a [routerLink]="['auth/registration']" routerLinkActive="app-a_active" class="app-a">Sign Up</a>
      </div>

      <div *ngIf="isAuthorizedProps">
        <a (click)="onSignOut()" class="app-a">Sign Out</a>
      </div>
  </div>
</div>
